src/main/resources/META-INF/wsdl/sender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:tns="http://www.satel.org/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             name="srvApplTechConnectionReverseSK"
             targetNamespace="http://www.satel.org/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.satel.org/">

            <element name="data">
                <complexType>
                    <sequence>
                        <element name="mess" nillable="true" maxOccurs="unbounded">
                            <complexType>
                                <sequence>
                                    <element name="delay" type="long"/>
                                    <element name="text" type="string"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>

            <element name="result">
                <complexType>
                    <sequence>
                        <element name="message" type="string"/>
                    </sequence>
                </complexType>
            </element>

        </schema>
    </types>

    <message name="SenderIn">
        <part name="parameters" element="tns:data" />
    </message>
    <message name="SenderOut">
        <part name="parameters" element="tns:result" />
    </message>

    <portType name="RequestServices">
        <operation name="SendRequest">
            <input message="tns:SenderIn" />
            <output message="tns:SenderOut" />
        </operation>
    </portType>

    <binding name="MessagesPort" type="tns:RequestServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="SendRequest">
            <soap:operation soapAction="http://www.satel.org/Sender/Messages" style="document" />
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="Sender">
        <port name="Messages" binding="tns:MessagesPort">
            <soap:address location="http://0.0.0.0:8181/cxf/Sender"/>
        </port>
    </service>

</definitions>